# This is Git's per-user configuration file.
[user]
	name = Pradumna Saraf
	email = pradumnasaraf@gmail.com
	signingkey = 029E9450110B495C
[init]
	defaultBranch = main
[help]
	autocorrect = 0
[elp]
	autocorrect = 10
[commit]
	gpgsign = true
[alias]
	ci = commit 
	co = checkout
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	pl = pull
	ps = push
