# This is Git's per-user configuration file.
[user]
	name = Pradumna Saraf
	email = pradumnasaraf@gmail.com
	signingkey = 5094340D04B30FDF
[init]
	defaultBranch = main
[help]
	autocorrect = 0
[elp]
	autocorrect = 10
[commit]
	gpgsign = true
[alias]
	ci = commit 
	co = checkout
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	pl = pull
	ps = push
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches
